[submodule "apps/create_tables"]
	path = apps/create_tables
	url = https://github.com/WywySenarios/Wywy-Website-Create-Tables
[submodule "apps/tests/types"]
	path = apps/tests/Wywy_Website_Types
	url = https://github.com/WywySenarios/Wywy-Website-Python-Types
[submodule "apps/tests/testing_helpers"]
	path = apps/tests/generic_database_api/
	url = https://github.com/WywySenarios/Wywy-Website-Testing-Helpers
